.img-brand { height: 6vw; padding: 0.5em; width: 100%; }
.navbar-header label { color: white; margin-bottom: 0; font-size: 1.5em; padding: 1vw; }
.navbar-header a { padding: 0; }
.navbar-header #my-brand { padding: 15px; }
.nav > li > a { padding-right: 5px; padding-left: 5px; }
.container { margin-top: 6vw; }

.search-div { padding-left: 0; padding-right: 0; }
.search-area { position: relative; margin-left: 0; margin-right: 0;}
.search-btn { height: 100%; position: absolute; }
.dataTable { margin-top: 1em; }
.dataTable thead { background-color: #AAFFEE; }
.dataTable tbody tr { background-color: white; }
body { background-color: rgb(234, 246, 249); }
span.dynatree-selected a { font-style: normal; color: black; }
.sticky-right {position: fixed; top: 8vw; padding-left: 0; padding-right: 0; }
.noMargin { margin-left: 0; margin-right: 0; }
.navbar-inverse { background-color: #0a3e7a; }


/* disease list on search result page
-------------------------------------------------- */
.btn-primary { width: auto; }
#filter-disease { margin-left: 0; margin-right: 0; position: absolute; background-color: lightgrey;
    padding: 10px; border-radius: 3px; border: 3px white;}
.filter-input-div { margin-right: 0; margin-left: 0; }
.filter-input { padding: 0.2em; width: 100%; background-color: rgb(234, 246, 249); }
#filter-submit { margin-top: 1em; float: right; }
#filter-cancel { float: right; }
.filter-holder { position: relative; float: right }
.info-input { padding-left: 0; padding-right: 0; }
.input-div { padding-left: 0; padding-right: 0; }

.block-disease { margin-bottom: 2em; }
.title-disease { font-size: 1.2em; }
.title-disease a { color: #0000cc; }
.title-disease a:hover { color: orangered; }
.gene-disease a { color: #0078CF; }
.description-disease { text-align: justify; }
.others-disease b { color: green; font-size: 1.2em; }
.others-disease i { color: grey; float: right; }

/* disease page
-------------------------------------------------- */

.detail-title { color: red; font-size: 2em; }
.detail-description { text-align: justify; }

.badge-phenotype { font-size: 1em; }

/* gene page
-------------------------------------------------- */
#detail-gene { margin: 0; }