<% include ./header.ejs %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="contentNewGene" hidden>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    <% if (lan == 'eng') { %>New gene<% } else { %>新增基因<% } %>
                </h4>
            </div>
            <div class="modal-body">
                <form id="formNewGene">
                    <label class="col-md-6"><% if (lan == 'eng') { %>File type: <% } else { %>文件类型：<% } %>
                        <select name="type">
                            <option value="gene"><% if (lan == 'eng') { %>Genovariation<% } else { %>基因变异<% } %></option>
                            <option value="chromosome"><% if (lan == 'eng') { %>Chromosome variation<% } else { %>染色体变异<% } %></option>
                        </select>
                    </label>
                    <label class="col-md-6"><% if (lan == 'eng') { %>Patient: <% } else { %>病患：<% } %>
                        <select name="patient">
                            <option value="self"><% if (lan == 'eng') { %>Self<% } else { %>本人<% } %></option>
                            <option value="father"><% if (lan == 'eng') { %>Father<% } else { %>父亲<% } %></option>
                            <option value="mother"><% if (lan == 'eng') { %>Mother<% } else { %>母亲<% } %></option>
                            <option value="grandfather"><% if (lan == 'eng') { %>Grandfather<% } else { %>祖父<% } %></option>
                            <option value="grandmother"><% if (lan == 'eng') { %>Grandmother<% } else { %>祖母<% } %></option>
                        </select>
                    </label>
                    <label class="col-md-12"><% if (lan == 'eng') { %>File name: <% } else { %>文件名：<% } %>
                        <input name="fileName">
                    </label>
                </form>
                <button onclick="openForm('NewChromosome', document.getElementById('formNewGene').elements['fileName'].value)"><% if (lan == 'eng') { %>Next<% } else { %>下一步<% } %></button>
            </div>
        </div><!-- contentNewGene -->
        <div class="modal-content" id="contentNewChromosome" hidden>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    <% if (lan == 'eng') { %>New chromosome variation<% } else { %>新增染色体变异<% } %>
                </h4>
            </div>
            <div class="modal-body">
                <form id="formNewChromosome">
                    <label><% if (lan == 'eng') { %>Chromosome<% } else { %>染色体<% } %>
                        <select name="chromosome">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="X">X</option>
                            <option value="Y">Y</option>
                        </select>
                    </label>
                    <label><% if (lan == 'eng') { %>chromosome arm<% } else { %>染色体臂<% } %>
                        <select name="chromosomeArm">
                            <option value="p">p</option>
                            <option value="q">q</option>
                        </select>
                    </label>
                    <label><% if (lan == 'eng') { %>Location<% } else { %>位置<% } %>
                        <input name="location">
                    </label>
                    <label><% if (lan == 'eng') { %>Type<% } else { %>类型<% } %>
                        <select name="variationType">
                            <option value="insertion"><% if (lan == 'eng') { %>insertion<% } else { %>插入<% } %></option>
                            <option value="deletion"><% if (lan == 'eng') { %>deletion<% } else { %>缺失<% } %></option>
                        </select>
                    </label>
                </form>
                <button onclick="addChromosome()"><% if (lan == 'eng') { %>Add<% } else { %>添加<% } %></button>
                <table id="chromosomeTable" class="table table-bordered table-striped dataTable" role="grid">
                    <thead>
                    <tr role="row">
                        <th class="col-md-4" title="<% if (lan == 'eng') { %>Chromosome Location<% } else { %>染色体位置<% } %>">
                            <% if (lan == 'eng') { %>Location<% } else { %>位置<% } %>
                        </th>
                        <th class="col-md-3" title="<% if (lan == 'eng') { %>Type<% } else { %>类型<% } %>">
                            <% if (lan == 'eng') { %>Type<% } else { %>类型<% } %>
                        </th>
                        <th class="col-md-5" title="<% if (lan == 'eng') { %>Do something to this entry<% } else { %>对该条目进行操作<% } %>">
                            <% if (lan == 'eng') { %>Operation<% } else { %>操作<% } %>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="chromosomeTableBody"></tbody>
                </table>

                <button onclick="saveChromosome()"><% if (lan == 'eng') { %>OK<% } else { %>确定<% } %></button>
            </div>
        </div>
    </div><!-- /.modal -->
</div>
<div class="row">
    <form id="formMain">
        <div class="col-md-4">
            <label>
                性别
                <select name="gender">
                    <option value="male">男</option>
                    <option value="female">女</option>
                </select>
            </label>
        </div>
        <div class="col-md-4">
            <label>
                年龄
                <input name="age">
            </label>
        </div>
        <div class="col-md-4">
            <label>遗传方式
                <select name="inheritance">
                    <option value="unknown">未知</option>
                    <option value="recessive">常染色体隐性</option>
                    <option value="dominant">常染色体显性</option>
                    <option value="XRecessive">X连锁隐性</option>
                    <option value="XDominant">X连锁显性</option>
                    <option value="YChain">Y染色体连锁</option>
                </select>
            </label>
        </div>
    </form>
</div>
<div class="row">
    <script src="<%=static_dir%>/js/xlsx.core.min.js"></script>
    <script src="<%=static_dir%>/js/caseUploader.js"></script>
    <script>
        var geneFiles = [];
        var chromosomeEntries = [];
        $(document).ready(function() {
            //注册myModal打开和关闭事件
            $('#myModal').on('shown.bs.modal', function() {
                $('#contentNewGene').show();
            }).on('hide.bs.modal', function(){
                $('#contentNewGene').hide();
                $('#contentNewChromosome').hide();
            });
        })

        //打开新建基因窗体
        function newGene(){
            $('#myModal').modal('show');
        }

        //检查文件名称是否存在，然后切换至次级窗体
        function openForm(formName, fileName) {
            for (var i =0;i < geneFiles.length;i++){
                if (geneFiles[i].fileName == fileName)
                {
                    alert('文件名已存在，请重新输入！');
                    return;
                }
            }

            $('#contentNewGene').hide();
            $('#content' + formName).show();
        }

        //新增染色体异常项，加入表格
        function addChromosome() {
            var form = document.getElementById('formNewChromosome');

            var html = '<tr role="row" class="color-palette">';
            html += '<td>' + form.elements['chromosome'].value
                + form.elements['chromosomeArm'].value
                + form.elements['location'].value + '</td>';
            html += '<td>' + form.elements['variationType'].value + '</td>';


            html += '</tr>';
            $('#chromosomeTableBody').append($(html));
            var newName = $('<td>'+row.chname+'</td>');
            if (row.description == "NULL") row.description = "";
            var newDcrp = $('<td>'+row.description+'</td>');
            var links = "";
            for (var i in row.children){
                links += '<a onclick="addSelect(\''+row.children[i].key+'\', \''+row.children[i].chname+
                    '\')">'+row.children[i].chname+'</a>&nbsp;';
            }
            var newLeaf = $('<td>'+links+'</td>');
        }
    </script>
    <div class="row">
        基因变异文件：
        <button onclick="newGene()">新建</button>
        <button onclick="upload()">上传</button>
        <input type="file" multiple="multiple" name="file" id="file">
        <div id="testupload"></div>
        <script>
            function upload(){
                var files = [];
                for (var i = 0;$('#file')[0].files[i];i++){
                    files[i] = $('#file')[0].files[i];
                }
                files.sort(function(a, b){
                    return a.size > b.size;
                })
                var file = files[0];
                var reader = new FileReader();
                reader.onload = function(e) {
                    alert(e.target.result);
                }
                reader.readAsBinaryString(file);
                return;

                $('#testupload').caseUploader({

                });
                return;

                alert(1);
                var file = $('#file')[0].files[0];
                /*var str = '';
                for (var i in file)
                {
                    if (typeof file[i] != 'function')
                        str += i + ': ' + file[i] + '\n';
                }
                alert(str);*/
                var reader = new FileReader();
                reader.onloadstart = function() {
                    var fData = new FormData();


                    var blob = file.slice(0, 32);
                    var str = '';
                    for (var i in blob)
                    {
                        if (typeof blob[i] != 'function')
                            str += i + ': ' + blob[i] + '\n';
                    }
                    alert(str);

                    fData.append("name",file.name);
                    fData.append("size",file.size);
                    fData.append("type",file.type);
                    fData.append("file",file.slice(0, 32));


                    $.ajax({
                        url: 'upload',
                        type: 'POST',
                        data: fData,
                        processData: false,
                        contentType: false,
                        cache: false,
                        success: function (data) {
                            alert(data);
                        },
                        error: function (err){
                            alert(err);
                        }
                    });
                }
                reader.readAsText(file);

            }
        </script>
    </div>
    <table id="geneTable" class="table table-bordered table-striped dataTable" role="grid">
        <thead>
        <tr role="row">
            <th class="col-md-5" title="<% if (lan == 'eng') { %>Name of the file<% } else { %>文件名<% } %>">
                <% if (lan == 'eng') { %>File Name<% } else { %>文件名<% } %>
            </th>
            <th class="col-md-5" title="<% if (lan == 'eng') { %>Type<% } else { %>类型<% } %>">
                <% if (lan == 'eng') { %>Type<% } else { %>类型<% } %>
            </th>
            <th class="col-md-2" title="<% if (lan == 'eng') { %>Whether this entry is valid as a datum for diagnosing.<% } else { %>该条目是否用作诊断数据<% } %>">
                <% if (lan == 'eng') { %>valid<% } else { %>用于诊断<% } %>
            </th>
        </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
</div>

<% include ./footer.ejs %>