<% include ./header.ejs %>
<div class="row">
    推荐信息
</div>
<div class="row">
    <div class="col-md-4">
        左侧边栏
    </div>
    <div class="col-md-8">
        <div class="row">
            搜索框
        </div>
        <div class="row">
            结果列表
        </div>
    </div>
</div>

<% include ./footer.ejs %>