<% include ./header.ejs %>
<div class="row">
    <div class="col-md-8">
        <script>
            function showFilter(){
                $('#filter-disease').show();
            }
            function hideFilter(){
                $('#filter-disease').hide();
            }
            //进行疾病及基因的过滤，刷新疾病列表
            function filterSubmit(){
                var nameFilter = $('#filter-name').val().toUpperCase();
                var geneFilter = $('#filter-gene').val().toUpperCase();
                var locationFilter = $('#filter-location').val().toLowerCase();
                var nameFilFun = nameFilter == '' ? function (name) { return true; } :
                        function (name) { return name.indexOf(nameFilter) > -1; };
                var genesFilFun = geneFilter == '' && locationFilter == '' ? function (genes) { return true; }
                        : function (genes) {
                    var geneFilFun = geneFilter == '' ? function (gene) { return true; } :
                            function (gene) { return gene.indexOf(geneFilter) > -1; };
                    var locationFilFun = locationFilter == '' ? function (loc) { return true; } :
                            function (loc) { return loc.indexOf(locationFilter) > -1; };
                    var geneFound = false;
                    var locationFound = false;
                    for (var i = 0;i < genes.length;i++){
                        geneFound = geneFilFun(genes[i].gene) ? true : geneFound;
                        locationFound = locationFilFun(genes[i].cytoband) ? true : locationFound;
                        if (geneFound && locationFound) return true;
                    }
                    return false;
                };
                diseaseFiltered = $.grep(diseaseData, function(value){
                    return nameFilFun(value.Name) && genesFilFun(value.Genes);
                });
                diseasePagination();
                $('#filter-disease').hide();
            }
        </script>
        <!--显示疾病时可选择显示精简信息或者详细信息。可以直接显示所有结果，还可进行过滤。-->
        <div id="radio-disease" class="row" hidden>
            <div class="col-md-7">
                <input id="show-detailed" value="detailed" name="showAmount" type="radio" onchange="refreshDisease()" checked>显示详细信息
                <input id="show-concise" value="concise" name="showAmount" type="radio" onchange="refreshDisease()">显示精简信息
                <a href="javascript:void(0);" id="show-all" onclick="showAll();">显示全部</a>
                <a href="javascript:void(0);" id="show-filter" onclick="showFilter();">结果中过滤</a>
            </div>
            <div class="filter-holder col-md-5">
                <div id="filter-disease" hidden>
                    <div class="row filter-input-div">
                        <div class="col-md-4 info-input">疾病名称：</div>
                        <div class="col-md-8 input-div"><input id="filter-name" class="filter-input" autocomplete="off"></div>
                        <div class="col-md-4 info-input">基因名称：</div>
                        <div class="col-md-8 input-div"><input id="filter-gene" class="filter-input" autocomplete="off"></div>
                        <div class="col-md-4 info-input">基因位置：</div>
                        <div class="col-md-8 input-div"><input id="filter-location" class="filter-input" autocomplete="off"></div>
                    </div>
                    <input id="filter-submit" type='button' value="过滤" class="btn btn-primary" onclick="filterSubmit()">
                    <br/>
                    <a id='filter-cancel' href="javascript:void(0);" onclick="hideFilter();">取消</a>
                </div>
            </div>
        </div>
        <!--逐条显示疾病-->
        <div id="diseaseList">搜索结果加载中，请稍候……</div>
        <div id="pagination-disease"></div>
    </div>
    <div class="col-md-4">
        <div class="sticky-right col-md-3">
            <script type="text/javascript">
                var checkedDisease = [];
                var selectedDisease = [];
                var searchedPhenotype = [];
                var longDescription = [];
                var diseaseData;
                var diseaseFiltered;
                //跳转至疾病详情页
                function gotoDisease(id){
                    var href = '/disease/'+id;
                    if (searchedPhenotype.length > 0){
                        href += '?HPO=' + JSON.stringify(searchedPhenotype);
                    }
                    window.open(href);
                }
                //切换疾病的精简、详细
                function refreshDisease(){
                    if ($("input[name='showAmount']:checked").val() == 'concise'){
                        $('.description-disease').hide();
                        $('.gene-disease').hide();
                        $('.others-disease').hide();
                    } else {
                        $('.description-disease').show();
                        $('.gene-disease').show();
                        $('.others-disease').show();
                    }
                }
                //切换症状描述的精简、详细
                function openDescription(index) {
                    var $description = $('#description-' + index);
                    var tmpDescription = $description.html();
                    $description.html(longDescription[index]);
                    longDescription[index] = tmpDescription;
                }
                //更新症状列表
                function refreshTable(){
                    $.ajax(
                            {
                                type : 'GET',
                                url : 'http://202.121.178.141/cgi-bin/MDPA/DiseaseSet.cgi',
                                data : {
                                    OMIM: selectedDisease,
                                    action: $("input[name='showType']:checked").val()
                                },
                                success : function(data)
                                {
                                    var raw = $.parseJSON(data);
                                    //当没有相应症状时，隐藏列表及其相关元素
                                    var $pagination = $('#pagination-phenotype');
                                    var $radio = $('#radio-phenotype');
                                    var $table = $('#table-phenotype');
                                    var $label = $('#table-tip');
                                    if (raw.length == 0){
                                        $radio.hide();
                                        $table.hide();
                                        $pagination.hide();
                                        $label.show();
                                        return;
                                    }
                                    //否则显示他们
                                    $table.show();
                                    $radio.show();
                                    $pagination.show();
                                    $label.hide();
                                    $pagination.pagination({
                                        dataSource: raw,//数据源，此处为数组
                                        pageSize: 5,//每页显示的数量
                                        hideWhenLessThanOnePage: true, //少于一页时隐藏分页
                                        //pageRange: 9, 在本页页码单侧最多显示的页数
                                        callback: function(data, pagination) {
                                            var html = '';
                                            for (var i = 0;i < data.length;i++){
                                                html += '<tr role="row" class="color-palette">';
                                                html += '<td><a href="javascript:void(0);" onclick="addSelect(\''+data[i].key+'\',\''+data[i].chname+'\')">'+
                                                        data[i].chname+'</a></td>';
                                                if (data[i].description == 'NULL') data[i].description = '';
                                                //当描述过长时，缩为一行，可以点击按钮展开或收起
                                                var longestLength = 12;
                                                if (data[i].description.length > longestLength) {
                                                    longDescription[i] = data[i].description;
                                                    longDescription[i] += '<a href="javascript:void(0)" onclick="openDescription('
                                                            + i + ')">«</a>';
                                                    data[i].description = data[i].description.substr(0, longestLength);
                                                    data[i].description += '…<a href="javascript:void(0)" onclick="openDescription('
                                                            + i + ')">»</a>';
                                                }
                                                html += '<td id="description-'+i+'">'+data[i].description+'</td>';
                                                html += '</tr>';
                                            }
                                            $('#tableBody').html(html);
                                        }
                                    });
                                },
                                error : function()
                                {
                                    alert("网络连接异常");
                                }
                            }
                    );
                }
                //根据勾选的疾病，更新症状列表的内容
                function addDisease(checkBox, ID, index){
                    if (checkBox.checked){//选中某疾病
                        checkedDisease[index] = 1;//保存勾选框状态
                        if (selectedDisease.indexOf(ID) == -1) selectedDisease.push(ID);//保存选中的疾病ID
                    } else {//反选某疾病
                        checkedDisease[index] = 0;
                        selectedDisease.splice(selectedDisease.indexOf(ID), 1);
                    }
                    //更新症状列表
                    refreshTable();
                }
                //根据传入的数据构造疾病列表块
                function constructDisease(data, offset){
                    var html = '';
                    for (var i = 0;i < data.length;i++){
                        //载入checkbox状态。
                        var index = offset + i;
                        var checked = checkedDisease[index] > 0 ?
                                'checked' : '';

                        html += '<div class="block-disease">';
                        //标题块
                        html += '<div class="title-disease">';
                        html += '<input id="disease-'+data[i].ID+'" type="checkbox" ' +
                                'onclick="addDisease(this, ' + data[i].ID + ', ' + index + ')" ' + checked + '>';
                        html += '<a href="javascript:void(0);" onclick="gotoDisease(\''+data[i].ID+'\')">'
                                + data[i].NO + '. ' + data[i].Name + '</a>';
                        html += '&nbsp;<i>(Score: ' + data[i].Score;
                        if (typeof(data[i].pvalue) != 'undefined') {
                            html += ', P-value: ' + data[i].pvalue;
                        }
                        html +=  ')</i></div>';
                        //描述块
                        if (data[i].Description && data[i].Description != 'NULL') {
                            html += '<div class="description-disease">';
                            html += data[i].Description;
                            html += '</div>';
                        }
                        //基因块
                        if (data[i].Genes && data[i].Genes.length > 0) {
                            html += '<div class="gene-disease"><b>Gene(Cytogenetic location): </b>';
                            for (var j = 0; j < data[i].Genes.length; j++) {
                                html += '<a target="_blank" href="/gene/'+data[i].Genes[j].gene+'">'
                                        + data[i].Genes[j].gene + '(' + data[i].Genes[j].cytoband + '); </a>';
                            }
                            html += '</div>';
                        }
                        //其他信息块(OMIM，分数)
                        html += '<div class="others-disease"><a target="_blank"' +
                                'href="https://omim.org/entry/'+data[i].ID+'"><b>OMIM:' + data[i].ID + '</b></a>'
                        html += '</div>';
                        html += '</div>';
                    }
                    $('#diseaseList').html(html);
                    refreshDisease();
                    window.scrollTo(0,0);
                }
                function showAll(){
                    $('#show-all').hide();
                    $('#pagination-disease').hide();
                    constructDisease(diseaseFiltered, 0);
                }
                function diseasePagination(){
                    var $paginationDisease = $('#pagination-disease');
                    if (diseaseFiltered.length <= 0){
                        $paginationDisease.hide();
                        $('#diseaseList').html('');
                        return;
                    }
                    for (var i = 0;i < diseaseFiltered.length;i++){
                        checkedDisease[i] = 0;
                    }
                    selectedDisease = [];
                    refreshTable();

                    $('#show-all').show();
                    $paginationDisease.show();
                    $paginationDisease.pagination({
                        dataSource: diseaseFiltered,//数据源，此处为数组
                        pageSize: 10,//每页显示的数量
                        pageRange: 9, //在本页页码单侧最多显示的页数
                        callback: function(data, pagination) {
                            var offset = pagination.pageNumber * 10 - 10;
                            constructDisease(data, offset);
                        }
                    });
                }
                $(document).ready(function() {
                    //隐藏症状列表
                    $('#radio-phenotype').hide();
                    $('#table-phenotype').hide();
                    //保存初始搜索关键字
                    var $searchBox = $('#sel_menu2');
                    for (var i = 0;i < $searchBox.children().length;i++){
                        searchedPhenotype.push($searchBox.children()[i].value);
                    }

                    //载入疾病
                    var $diseaseList = $('#diseaseList');
                    if ($searchBox.children().length === 0) {
                        $diseaseList.html('<a href="/index">没有找到结果，点击返回搜索页</a>');
                        return;
                    }
                    var data="";
                    for (i = 0;i < $searchBox.children().length;i++) {
                        data += 'HPO=' + $searchBox.children()[i].value + '&';
                    }
                    data += 'guid=' + 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                                var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
                                return v.toString(16);
                            });
                    $.ajax(
                            {
                                type : 'GET',
                                url : 'http://202.121.178.141/cgi-bin/MDPA/GPSEngine.cgi',
                                data : data,
                                success : function(data)
                                {
                                    $('#radio-disease').show();
                                    diseaseData = $.parseJSON(data);
                                    diseaseFiltered = diseaseData;
                                    diseasePagination();
                                },
                                error : function()
                                {
                                    $diseaseList.html('<a href="/index">网络连接异常，点击返回搜索页</a>');
                                }
                            });

                    $searchBox.select2({
                        multiple:true,
                        placeholder:'请输入症状名或症状ID',
                        ajax:
                        {
                            url:"http://202.121.178.141/cgi-bin/MDPA/SearchDB.cgi",
                            dataType: 'json',
                            delay: 500,
                            contentType:"application/x-www-form-urlencoded;charset=UTF-8",
                            data: function (params){
                                return {
                                    q: params.term, // search term
                                    page: params.page
                                };
                            },
                            processResults: function (data, page)
                            {
                                return{
                                    results: data.items
                                };
                            },
                            cache:true
                        },
                        escapeMarkup: function (markup)
                        {
                            //console.debug(markup)
                            return markup;
                        }, // let our custom formatter work
                        minimumInputLength: 2,
                        formatInputTooShort: function (term, minLength){
                            return "请输入至少2个字符以进行检索";
                        },
                        //maximumInputLength: 40,
                        templateResult:formatRepo,
                        templateSelection:formatRepoSelection
                    });
                });
                function formatRepo(repo)
                {
                    if (repo.loading) return repo.text;
                    repo.text = repo.name;
                    var markup = '<option class="select2-option-click" value='+repo.id+'>'+ repo.id+'|'+repo.text+'</option>';
                    return markup;
                }
                function formatRepoSelection(repo){
                    repo.selected = true;
                    repo.name = repo.id
                    if(repo.id == null || repo.name == ""){
                        repo.id = 'Please type items'
                        repo.name = repo.text
                    }
                    return repo.text;
                }

                //向搜索栏中添加一项
                function addSelect(id, name){
                    var ID = 'HP:' + id;
                    var $searchBox = $('#sel_menu2');
                    if ($.inArray(ID, $searchBox.val()) != -1) return;
                    var op1 = '<option value="'+ID+'" selected>'+name+'</option>'
                    $searchBox.append(op1).trigger("change");
                }

                //从搜索栏中删除一项
                function rmvSelect(id){
                    var $searchBox = $('#sel_menu2');
                    var found = 0;
                    for (var i in $searchBox.children())
                    {
                        if ($searchBox.children()[i].value == "HP:" + id)
                        {
                            $searchBox.children()[i].remove();
                            found = 1;
                            break;
                        }
                    }
                    for (var i in $searchBox.children())
                    {
                        if ($searchBox.children()[i].value == "HP:" + id)
                        {
                            $searchBox.children()[i].remove();
                            found = 1;
                            break;
                        }
                    }
                    if (found === 1)
                    {
                        $searchBox.trigger('change');
                    }
                }

                //提交表格。每一个搜索项包含ID和名称。
                function searchSubmit(){
                    var form = $("#sel_menu2");
                    for (var i = 0;i < form.children().length;i++){
                        form.children()[i].value += '$' + form.children()[i].innerHTML;
                    }
                    $('#form1').submit();
                }
            </script>
            <!--搜索栏-->
            <FORM METHOD=POST id='form1' ACTION="/list">
                <div class="row search-area">
                    <div class="col-md-10 search-div">
                        <select id="sel_menu2" name="HPO" multiple="multiple" class="form-control">
                            <% if (typeof(searched) != 'undefined') {
                                    for (var i = 0;i < searched.length;i++) { %>
                                        <option value="<%-searched[i][0]%>" selected><%-searched[i][1]%></option>
                            <%      }
                               }
                            %>
                        </select>
                    </div>
                    <input type='button' value="搜索" class="btn btn-primary col-md-2 search-btn" onclick='searchSubmit()'>
                </div>
            </FORM>
            <!--疾病对应的症状列表-->
            <label id="table-tip">
                <br/>
                <br/>
                勾选左侧疾病名即可查看相关症状
            </label>
            <div id="radio-phenotype">
                <input id="show-union" value="intersection" name="showType" type="radio" onchange="refreshTable()" checked>只显示共有症状
                <input id="show-nonUnion" value="unique" name="showType" type="radio" onchange="refreshTable()">只显示非共有症状
            </div>
            <div id="pagination-phenotype"></div>
            <table id="table-phenotype" class="table table-bordered table-striped dataTable" role="grid">
                <thead>
                <tr role="row">
                    <th title="症状名" class="col-md-4">名字</th>
                    <th title="症状的详细解释" class="col-md-8">描述</th>
                </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
    </div>
</div>
<% include ./footer.ejs %>