<% include ./header.ejs %>
<div class="col-md-6">
    <!-- a list of diseases -->
    <script type="text/javascript">
        //取URL参数
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)", "g"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            r[0] = decodeURIComponent(r[0]);
            for (var i = 1;i< r.length;i++){
                r[i] = r[i].substr(1);//去除&
                r[i] = decodeURIComponent(r[i]);//URI解码（16进制序列转为实际字符）
            }
            return r;
        }
        $(document).ready(function () {
            var hpo = getUrlParam("HPO");
            for (var i in hpo){

            }
        })
    </script>
    <ul class="ul-articles">
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
    <!-- pagination -->
    <% //if (articleList.length > 0)  { %>
        <% //include ./pagination.ejs %>
    <% //} else { %>
        <a href="/index">没有找到结果，点击返回搜索页</a>
    <% //} %>
</div>
<div class="col-md-6">

</div>
<% include ./footer.ejs %>